html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: inherit;
}
body{
	display:flex;
	flex-direction: column;
	font-size: 20px;
	font-family: sans-serif;
}
#headerCon{
	position: fixed;
	justify-content: center;
	background-color: rgba(0,0,0,1);
	z-index: 1;
	color: rgba(255,255,255,1);
	width: 100%;
	height: 7rem;
}
header{
	flex-direction: row;
	width: 70rem;
}
ul{
	list-style-type: none;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	width: 63rem;
}
li{
	width: 10rem;
	height: 7rem;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
li:hover{
	cursor: pointer;
	color: rgba(0,0,0,1);
	background-color: rgba(255,255,255,1);
}
#contentCon{
	justify-content: center;
}
#content{
	flex-direction: column;
	align-items: center;
	width: 70rem;
	position:relative;
	padding-top: 7rem;
	background-color: rgba(0,0,0,0.1);
}
.sections{
	padding: 4rem 0rem 4rem 0rem;
	gap: 2rem;
}
.textCon{
	flex-direction: column;
	gap: 2rem;
}
#team{
	flex-direction: row-reverse;
}
#logo{
	width: 7rem;
	height: 7rem;
}
.sectionImg{
	width: 20rem;
	height: 20rem;
}
.menuContent{
	position: relative;
	top:1rem;
}
#menuHeaderCon > h1{
	font-size: 4rem;
}
.itemCon{
	gap: 1rem;
	width: 65rem;
	padding: 2rem 0rem 2rem 0rem; 
}
.itemImg{
	width: 10rem;
	height: 10rem;
}
.itemTextCon{
	flex-direction: column;
	gap: 1rem;
}
.itemTextCon > h1{
	font-weight: bolder;
}
.itemTextCon > p{
	font-size: 1rem;
	font-style: italic;
}
.contactContent{
	position:relative;
	top: 2rem;
	gap: 3rem;
}
#map{
	height: 28rem;
	width: 28rem;
	z-index: -1;
}
#detailsCon{
	flex-direction: column;
	gap: 1rem;
}
#address{
	flex-direction: column;
}
#contactForm{
	flex-direction: column;
}

textarea{
	resize: none;
}
