html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: inherit;
}
:root{
	--first-prio-color: #A27B5C;
	--second-prio-color: #3F4E4F;
	--third-prio-color:#2C3639;
	--fourth-prio-color:#DCD7C9; 
	--highlight-color: #4c5b5c;
	--input-field-width: 30rem;
}
body{
	display:flex;
	flex-direction: column;
	font-size: 20px;
	font-family: sans-serif;
	background-color: var(--fourth-prio-color);
}
#headerCon{
	position: fixed;
	justify-content: center;
	background-color: var(--third-prio-color);
	z-index: 1;
	color: var(--first-prio-color);
	width: 100%;
	height: 7rem;
}
header{
	flex-direction: row;
	width: 70rem;
}
ul{
	list-style-type: none;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	width: 63rem;
}
li{
	width: 10rem;
	height: 7rem;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
li:hover{
	cursor: pointer;
	background-color: var(--highlight-color);
}
#contentCon{
	justify-content: center;
}
#content{
	flex-direction: column;
	align-items: center;
	width: 70rem;
	position:relative;
	padding-top: 7rem;
	color: var(--second-prio-color);
}
.sections{
	padding: 4rem 0rem 4rem 0rem;
	gap: 2rem;
}
.textCon{
	flex-direction: column;
	gap: 2rem;
}
#team{
	flex-direction: row-reverse;
}
#logo{
	width: 7rem;
	height: 7rem;
}
.sectionImg{
	width: 20rem;
	height: 20rem;
}
#menuHeaderCon > h1{
	font-size: 4rem;
}
h1{
	color: var(--first-prio-color);
	font-size: larger;
	font-weight: bolder;
}
.itemCon{
	gap: 1rem;
	width: 65rem;
	padding: 2rem 0rem 2rem 0rem; 
}
.itemImg{
	width: 10rem;
	height: 10rem;
}
.itemTextCon{
	flex-direction: column;
	gap: 1rem;
}
.itemTextCon > h1{
	font-weight: bolder;
}
.itemTextCon > p{
	font-size: 1rem;
	font-style: italic;
}
.contactContent{
	gap: 3rem;
}
#locationCon{
	height: 28rem;
	width: 28rem;
	z-index: 0;
}
#detailsCon{
	flex-direction: column;
	gap: 1rem;
}
#openingTimes{
	flex-direction: column;
}
#contactForm{
	flex-direction: column;
	gap: .5rem;
}
.inputField{
	background-color: var(--fourth-prio-color);
	width: var(--input-field-width);
	border: 1px solid var(--first-prio-color);
	border-radius: 0.5rem;
}
textarea{
	resize: none;
	background-color: var(--fourth-prio-color);
	width: var(--input-field-width);
	height: 10rem;
	border: 1px solid var(--first-prio-color);
	border-radius: 0.5rem;

}
#submitButton{
	background-color: var(--first-prio-color);
	color: var(--fourth-prio-color);
	border: 1px solid var(--first-prio-color);
	border-radius: 0.5rem;
	height: 2rem;
	width: var(--input-field-width);
}
#submitButton:hover{
	cursor: pointer;
}
#footerCon{
	display:flex;
	justify-content: center;
	background-color: var(--third-prio-color);
	width: 100%;
	height: 2rem;
	position:fixed;
	bottom: 0;

}
footer{
	display: flex;
	flex-direction: row;
	color: var(--first-prio-color);
	gap: 0.3rem;
}

.github{
	color: var(--first-prio-color);
	text-decoration-line: none;
}